<%= simple_form_for @person do |f| %>
  <%= f.input :nombre, label: "Nombre:", placeholder: 'Ingresa un nombre' %>
  <%= f.input :apellido, label: "Apellido:", placeholder: 'Ingresa un Apellido' %>
  <%= f.input :ci, label: "Cedula:", placeholder: 'Ingresa un numero de cedula' %>
    <h1>Direccion</h1>
      <%= f.simple_fields_for :addresses do |m| %>
      	<%= m.input :line1 %>
      	<%= m.input :line2 %>
      	<%= m.input :state %>
      <% end %>
  <br>
  <br>
  <%= f.button :submit, value: @m %>
  <%= link_to "Regresar", people_path %>
<% end %>
