<h1>Datos de la Persona</h1>

<p>
  <b>Nombre: </b>
  <%= @person.nombre %>
</p>
<p>
  <b>Apellido: </b>
  <%= @person.apellido %>
</p>
<p>
  <b>Cedula: </b>
  <%= @person.ci %>
</p>

<h3>Direcciones</h3>

<%= flash[:notice] %>

<table border="1">
  <thead>
    <tr>
      <th>Line1</th>
      <th>Line2</th>
      <th>State</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @person.addresses.each do |address| %>
      <tr>
        <td><%= address.line1 %></td>
        <td><%= address.line2 %></td>
        <td><%= address.state %></td>
        <td>
          <%= link_to "Eliminar", person_address_path(@person, address), method: :delete, data: { confirm: "Estas seguro?" } %>
          <%= link_to "Editar", edit_person_address_path(@person, address) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Carros Asociados</h3>

<table border="1">
  <thead>
    <tr>
      <th>Color</th>
      <th>Brand</th>
      <th>Plate</th>
    </tr>
  </thead>
  <% @person.cars.each do |c| %>
<tbody>
  <tr>
    <td><%= c.color %></td>
    <td><%= c.brand %></td>
    <td><%= c.plate %></td>
  </tr>
  <% end %>
</tbody>
</table>


<% unless @person.profile.nil? %>
<h3>Profiles</h3>
<table border="1">
  <thead>
    <tr>
      <th>Twitter</th>
      <th>Github</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @person.profile.twitter_url %></td>
      <td><%= @person.profile.github_url %></td>
    </tr>
  </tbody>
</table>
<% end %>


<h3>Imagenes en el Album de Fotos</h3>

<table border="1">
  <thead>
    <tr>
      <th>Nombre de Foto</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @person.albums.each do |a| %>
      <tr>
        <td><%= a.photo_name %></td>
        <td><%= a.description %></td>
        <td>
          <%= link_to "Ver", person_path(a) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= show_profile(@person) %>
<br>
<%= link_to "Asociar carro", asociar_car_person_path(@person) %>
<br>
<%= link_to "Agregar Direccion", new_person_address_path(@person) %>
</br>
<%= link_to "Regresar", people_path %>
